In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# load df RMS-Seas-Temp-Rain-68-22.xlsx and sheet name is ValidatedSeasonalMetData2022
df  = pd.read_excel('RMS-Seas-Temp-Rain-68-22.xlsx', sheet_name='ValidatedSeasonalMetData2022')

In [6]:
df.head()

,Harvest.Year,Total.Rainfall.Aut,Total.Rainfall.Win,Total.Rainfall.Spr,Total.Rainfall.Sum,Mean.Temp.Aut,Mean.Temp.Win,Mean.Temp.Spr,Mean.Temp.Sum
0,1968,283.75618,164.26244,157.40896,234.01318,9.681868,2.737912,7.901630,14.943478
1,1969,318.46574,239.98234,181.50668,145.36010,10.775275,2.545000,7.378261,15.384239
2,1970,115.40376,230.80752,169.34728,150.00278,10.580769,2.736111,7.182609,15.608152
3,1971,253.02606,180.95398,168.79458,201.51442,10.724725,3.673889,7.711957,14.958696
4,1972,171.88970,188.47070,186.25990,112.52972,10.082967,4.253297,8.294022,14.124457

In [7]:
#calculate the average for yearly by getting average of Mean.Temp.Aut	Mean.Temp.Win	Mean.Temp.Spr	Mean.Temp.Sum
df['Mean.Temp.Year'] = df[['Mean.Temp.Aut', 'Mean.Temp.Win', 'Mean.Temp.Spr', 'Mean.Temp.Sum']].mean(axis=1)
# calculate total rainfall by summing Total.Rainfall.Aut	Total.Rainfall.Win	Total.Rainfall.Spr	Total.Rainfall.Sum	
df['Total.Rainfall.Year'] = df[['Total.Rainfall.Aut', 'Total.Rainfall.Win', 'Total.Rainfall.Spr', 'Total.Rainfall.Sum']].sum(axis=1)

In [10]:
# keep only year , Mean.Temp.Year, Total.Rainfall.Year
df = df[['Harvest.Year', 'Mean.Temp.Year', 'Total.Rainfall.Year']]
# rename the column names
df.columns = ['year', 'mean_temp_year', 'total_rainfall_year']